footer{
    padding-top:2%;
    left:0;
    background-color: rgb(75,71,141);
    padding-bottom: 2%;
}
.introduce{

text-transform: uppercase;

font-family: none;

font-weight: bolder;

color: white;

line-height: 30px;
}
.link--introduce{
padding-bottom: 4%;
}
.social--links a,
.introduce--content a,
.link--introduce a{
    text-transform: none;
    font-size: 15px;
    font-family: -webkit-body;
    font-weight: 500;
    color: white;
}
a .fas,
a .fab{
    font-size: 22px;
    color: white;
}
.introduce--content{
    padding-top: 3px;
    color: white;
    font-size: 15px;
    font-family: -webkit-body;
}
.introduce--map{
    padding-top: 3px;
    height: 179px;
}
.request{
    padding-top: 3px;
}
.form--request{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.7rem + -9px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.textarea__form--request{
    height: calc(1.5em + 1.7rem + -9px);
}
.request button{
    font-size: 0.7rem;
    margin-left: 39%;
}
a:hover {
    color: orange;
}