@media only screen and (max-width:992px){
    .mySidebar{
        display: block;
    }
    #btn{
        display: block;
    }
    .general__introduction img{
        width: 100%;
    }
    .megamenu{
        display: none;
    }
}
@media (min-width:992px){
    .general__introduction img{
        height: 100%;
        width: auto;
    }
}